

.footer__container {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px 0;
}
.developed__footer p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--textColor);
}
