@import url(/style/header.css);
@import url(/style/main.css);
@import url(/style/section.css);
@import url(/style/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;

    background: #E5E5E5;
}

:root{
    --bgBody: #F1F2F3;
    --textColor: #000;
    --spanColor: rgba(0,0,0,0.2);
    --bgNumbers: #FFF;
    --bgOperations: #4B5EFC;
    --bgOthers: #D2D3DA;
    --iconDarkMode: url(/assets/btn-light.svg);
    --statusDarkMode: url(/assets/status-dark.svg);
    --homeDarkMode: url(/assets/btn-home-dark.svg);
}
.dark-mode:root {
    --bgBody: #17171C;
    --textColor: #FFF;
    --spanColor: rgba(255,255,255,0.2);
    --bgNumbers: #2E2F38;
    --bgOthers: #4E505F;
    --iconDarkMode: url(/assets/btn-dark.svg);
    --statusDarkMode: url(/assets/status-light.svg);
    --homeDarkMode: url(/assets/btn-home-light.svg);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    max-width: 375px;
    height: 667px;

    background: var(--bgBody);
}