

.header__container {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}
#time {
    width: 57px;
    height: 15px;

    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: var(--textColor);
}
#notch {
    width: 170px;
    height: 31px;

    background-image: url(/assets/notch.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin: 0 20px;
}
#status {
    width: 57px;
    height: 15px;

    background: var(--statusDarkMode);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}