

.header__container {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 0;
}
.dark_mode {
    width: 100%;
    max-width: 72px;
    height: 32px;

    background: var(--iconDarkMode);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
}